*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

.container{
    max-height: 50%;
    width: 500px;
    color: white;
    background-color: azure;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    border-radius: 15px;
    align-items: left;
}
#qrtext{
    height: 30px;
    margin: 13px auto;
    outline: none;
    border: 1px black solid;
    border-radius: 20px;
    padding: 30px 40px;
    font-size: 1.5rem;
}

#qrdenerator{
    padding: 15px 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,90,1) 46%, rgba(0,212,255,1) 100%);
    color: white;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor:pointer;
    margin: 10px auto;
    width: 90%;
}
h2{
    color: black;
}

.qrim{
    display: none;

}
.qrimg{
    height: 40%;
    margin: 10px auto;
    background-color: #FC00FF;
}